body {
    background-color:rgb(65, 64, 64);            
    font-family: "Helvetica";
    color: rgb(255, 255, 255);
}

h1{
    text-align: center;
    display: block;
}
        
.left-side {
    float: left;
    width: 20%;
}

.right-side {
    float: right;
    width: 20%;
}

h2 ~ a img{
    border: 2px solid black;
    border-radius: 40px;
    width: 175px;
    height: 175px;
    
}

header {
    background-color: rgb(119, 0, 255);
    position: relative;
    width: 100%;
    height: 61.44px;
}

header ul {
    margin: 1px auto;
    padding: 0;
    margin-bottom: 0;

}

div ul {
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

li {
    display: inline-block;
    width: 85px;
}

header a {
    color: white;
    display: inline-block;
    width: 90px;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgb(65, 64, 64);
    background-color: rgb(131, 74, 197);
}

header a:hover {
    color: rgb(209, 208, 208);
    background-color: rgb(108, 63, 160);
}

#long-nav {
    width: 130px;
}
header h1 {
    display: block;
    text-align: center;
    float: right;   
    margin: 10px 20px;

}

